section
  article
    /![if lt IE 9] <div class='circle-container lt-ie9'
    /! [if gte IE 9]><!
    .circle-container
      /! <![endif]
      a.center href="#"
        img src="/assets/mae.png" /
      a.deg0 href="#"
        img src="/assets/talal.png" /
      a.deg45 href="#"
        img src="/assets/david.png" /
      a.deg135 href="#"
        img src="/assets/scott.png" /
      a.deg180 href="#"
        img src="/assets/justin.png" /
      a.deg225 href="#"
        img src="/assets/sebastian.png" /
      a.deg315 href="#"
        img src="/assets/jeremy.png" /
