<div class="bgheader_user_login"></div>
<section>
  <article>
    <div class="logIn">
      <h3>Sign in to your account:</h3>

      <%= render 'form' %>
      <%= render "devise/shared/links" %>
    </div>
  </article>
</section>
