/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 */

@import "bourbon";
@import "base/base";
@import "neat";
@import "submission";
@import "participants";
@import "login";
@import "welcome";
//= depend_on_asset "bg.jpg"
//= depend_on_asset "iphone.jpg"
//= depend_on_asset "macbook.jpg"
//= depend_on_asset "secret.jpg"
//= depend_on_asset "iphonec.png"

.container {
  @include outer-container;

}

body {
  margin: 0 auto;
}

header.topbar {
  background-color: rgba(0,0,0,.2);
  margin: auto 0;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 100;
  padding: .5em;

  @include background-image(linear-gradient( bottom, rgba(0,0,0,.6) 0%, rgba(0,0,0,0.2) 65%, rgba(0,0,0,0.0) 100%));
  div {
    @include outer-container;
    div.logo {
        @include span-columns(2);
        @include media($mobile) {
          @include span-columns(2);
          @include shift(0);

        }
        // @include shift(0);
        color: white;
      }

      ul.nav {
        @include span-columns(4);
        @include shift(6);
        @include omega;
        @include media($mobile) {
          @include span-columns(4);
          @include shift(0);
        }
        color: white;
        right: 0;
        padding: .7em 0em;

        li {
          display: inline-block;
          padding: 0em .5em .7em 0em;
          position: relative;
          right: 0;
          // float: right;
        }
        a {
          color: rgba(255,255,255,.85);
          &:hover {
            color: rgba(255,255,255,1)
          }
        }
      }
    }
  }

  section {
    @include outer-container;
    margin-top: 8em;
    article {
      @include span-columns(12);
    }
  }
