/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 */

@import 'bourbon';
@import "base/base";
@import 'neat';

body {
  margin: 0 auto;
}

header {
  background-color: #82C9C1;
  background-image: url('blue_tint_x4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 90%,
                         bottom;
  margin-bottom: 2em;
  @include outer-container;

  nav {
    @include span-columns(6);
    @include shift(6);
    @include omega;
    color: white;
    word-spacing: 1em;
    padding: 3em 2em;

  }

  section {
    @include span-columns(3);
    @include shift(1);
    height: 15em;
    color: white;
  }

  aside {
    @include span-columns(4);
    @include shift(2);
    padding:  2em;
    color: white;
    margin-top: -1em;
  }
}

  article {
    // height: 14em;
    @include outer-container;
    // margin-bottom: 4em;
    section {
      @include span-columns(6);
      @include shift(2);
    }
    aside {
      @include span-columns(4);
      @include omega;

    }
  }

footer {
  @include outer-container;
  div {
    @include span-columns(12);
    background-color: #82C9C1;
    background-image: url('blue_tint_x4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%,
                           bottom;
    color: white;
    padding: 2em;
  }

}







// .form-inputs{
//   margin: auto;
//   text-align:center;
//   width: 250px;
// }
//
// .form-actions{
//   text-align:center;
// }
//
//
// .container {
//   @include outer-container;
//   /*   margin: auto;
//   max-width: 965px; */
// }
//
// .logIn {
//   @include span-columns(4);
//   @include shift(4);
// }
