.form{
  width: 50%;
}
.name{
  float: left;
}
.participants{
  @include fieldset;
}
.address{
  @include fieldset;
  .street{
    width: 40%;
  }
  .city{
    width: 35%;
    float: left;
    margin-right: 10px;
  }
  .state{
    width: 25%;
    float: left;
    margin-right: 10px;
  }
  .zip{
    float: left;
    width: 20%;
    margin-right: 10px;
  }
}

.pick_up {
  @include outer-container;

  .button-add {
    @include span-columns(1);
    @include button(blue);
    text-align: center;
  }

  .tickets_form{
    @include span-columns(1);
    text-align: right;
 } 

  .button-subtract {
    @include span-columns(1);
    @include button(red);
    text-align: center;
  }
}

.contact  {
  @include outer-container;
  @include span-columns(12);
  padding: 10px 0;
  border-bottom: 1px solid;
}

