$t4day-header-background: $red-orange;
$tvhc-header-background: $blue;
$tyouth-header-background: $yellow;
$tpors-header-background: $red;
$tthu-header-background: $blue-green;
$tfri-header-background: $red-violet;
$tsat-header-background: $blue-green;
$tsun-header-background: $violet;
$tpress-header-background: $orange;
$tanyone-header-background: $light-gray;
$ttent-header-background: $blue-violet;
$tfpkg-header-background: $medium-gray;

.bgheader_particpants_show {
  width: 100%;
  background-image: asset-url('hills_01.jpg');
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  z-index: 0;
  height: 16em;
}

.bgheader_new_particpants {
  width: 100%;
  background-image: asset-url('hills_01.jpg');
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  z-index: 0;
  height: 16em;
}

.bgheader_particpants {
  width: 100%;
  background-image: asset-url('hola.jpg');
  background-size: cover;
  background-position: 70% 20%;
  background-repeat: no-repeat;
  z-index: 0;
  height: 16em;
  @include media($mobile) {
    width: 100%;
    background-image: asset-url('hola.jpg');
    background-size: 250%;
    background-position: 40% 40%;
    background-repeat: no-repeat;
    z-index: 0;
    height: 16em;
  }
}




.form{
  @include span-columns(8);
  @include shift (2);
  @include media($mobile) {
    @include span-columns(4);
    @include shift (0);
  }
}

.fullName{
  float: left;
  width: 100%;
}
.firstName{
  @include span-columns(4 of 8);
}
.lastName{
  @include span-columns(4 of 8);
}

.logInCreate{
  @include span-columns(6 of 6);
}
.email{
  @include span-columns(6 of 6);
  }
.passwordCreate{
  @include span-columns(2.5 of 6);
}
.passwordCreateConf{
  @include span-columns(2.5 of 6);
}

.shield{
  @include span-columns(8)
}


.address{
  @include span-columns(8 of 8);
}
.street{
  @include span-columns(8 of 8);
}
.city{
  @include span-columns(2.5 of 8);
}
.state{
  @include span-columns(1.5 of 8);
}
.zip{
  @include span-columns(2 of 8);
}
.country{
  @include span-columns(2 of 8);
}
.phone{
  @include span-columns(4 of 8);
}

.address {

  .street{
    width: 40%;
  }
  .city{
    width: 30%;
    float: left;
    margin-right: 10px;
  }
  .state{
    width: 30%;
    float: left;
    margin-right: 10px;
  }
  .zip{
    float: left;
    width: 30%;
    margin-right: 10px;
  }
}

.participants{

}

.mobile-search input{
  display: inline;
  &#search {
    width: 50%;
  }
}

.filters {
  button {
    @include button(white);
  } 
}

// Refills cards styling
.cards {
  @include clearfix;
  font-family: helvetica;
}

.card {
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10);
  $card-header-background: $green;
  $card-hover-background: lighten($card-background, 5);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5);
  $card-stats-color: lighten($base-accent-color, 10);

  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  margin-bottom: $base-line-height;
  cursor: pointer;
  box-shadow: 0 2px 4px darken($base-background-color, 10);
  position: relative;

  @include media($large-screen) {
    @include span-columns(4);
    @include omega(3n);
  }


  strong {
    color: white;
  }

  .card-image {
    overflow: hidden;
    max-height: 150px;

    img {
      width: 100%;
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }
  }

  .ribbon-wrapper {
    $ribbon-size: 85px;
    $ribbon-background: $base-accent-color;
    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;

    .ribbon {
      font-size: .8em;
      font-weight: 800;
      text-align: center;
      @include transform(rotate(45deg));
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: $ribbon-background;
      color: white;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    padding: $base-line-height/3 $gutter/2;


    &.t4day {
        background-color: $t4day-header-background;
    }

    &.tvhc {
        background-color: $tvhc-header-background;
     }

    &.tyouth {
        background-color: $tyouth-header-background;
     }

    &.tpors {
        background-color: $tpors-header-background;
     }

    &.tthu {
        background-color: $tthu-header-background;
     }

    &.tfri {
        background-color: $tfri-header-background;
     }

    &.tsat {
        background-color: $tsat-header-background;
     }

    &.tsun {
        background-color: $tsun-header-background;
     }

    &.tpress {
        background-color: $tpress-header-background;
     }

    &.ttent {
        background-color: $ttent-header-background;
     }

    &.tfpkg {
        background-color: $tfpkg-header-background;
     }

    &.tanyone {
        background-color: $tanyone-header-background;
     }
  }

  .card-copy {
    padding: $base-line-height/8 $gutter/8;
    font-size: 3em;
    font-weight: 900;
    line-height: 1.5em;
    text-align: center;

    .tickets-pu {
      background: none;
      padding: 0px;
      margin: 0px;
      border: none;
      text-align: center;
      font-family: helvetica;
      box-shadow: none;
      display: inline;
      width: 50%;
    }
  }

  .card-stats {
    padding: 0px $gutter/2 $base-line-height/2 $gutter/2;
    overflow: auto;

    ul li {
      display: inline;
      color: $medium-gray;
      font-weight: 500;
      font-size: 1.0em;
      float: right;
      border-right: 1px solid transparentize($base-font-color, .8);
      line-height: 1.1em;
      padding: 0 .7em 0 .7em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }

      span {
        display: inline;
        // color: $base-font-color;
        // font-size: .7em;
        // display: block;
        // font-weight: normal;
      }
    }
  }

  :hover {
    background-color: $card-hover-background;

    .card-image img {
      background: $card-image-hover-background;
    }

    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

.button-add, .button-subtract {
  &:hover {
    color: gray;
  }
}

// Remove arrows for number field
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
}

.contact  {
  @include outer-container;
  @include span-columns(12);
  padding: 10px 0;
  border-bottom: 1px solid;
}

.submit-button {
  display: block;
  clear: both;
  @include button($blue);
}

.back-button {
  @include button(white);
  color: white;
}

.order {
  display: inline;
  float: right;
}
