// Place all the styles related to the Submission controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin fieldset{
  background: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 .75em;
  padding: 1.5em;
  }

.topSpacing{
  padding-top: 100px;
}

h1{
  padding-bottom: 15px;
  }

.container{
  width: 965px;
}

.formView{
  float: left;
}

#new_submission{
  max-width: 600px;


}

#newBand{
  width: 600px;
}

.editBand{

}

.showBand{
  @include fieldset;
  @include span-columns(8);
  @include shift (2);
}

.form-inputs{
  margin: auto;
  text-align: center;
  width: 250px;
}

.form-actions{
  text-align: center;
}
.embedContainer {
  @include span-columns(4);
  @include omega(2n);
  //display: block;
  position: relative;
  overflow: hidden;
  max-width: 50%;
  height: auto;
  padding-right: 10px;
  }

.embed-container iframe, .embed-container object, .embed-container embed {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

.music{
  @include span-columns(4);
  @include omega(2n);
  height: 166px;
  max-width: 50%;
}

.reccomendation{
  @include span-columns(8);
  @include fieldset;
  max-width: 45%;
}

.adminTools{
  clear:both;
  // @include span-columns(6);
  // @include shift(6);
  // margin: auto;
  // text-align:center;
  // width: 250px;
}

th{
  text-align: center;
}

td{
  .photo{
    height: 112px;
  }
  .decision{
    button{
      background-color: white;
      border:1px solid #000000;
      color:black;
    }
    button:hover{
      background-color: green;
    }
    font-size: .75em;
    width: 80px;
  }
  .modalContainer{
    height: 500px;
  }
  .tags{
    padding-left: 25px;
  }
  .social{
    img{
      height: 50px;
    }
    margin-left: 23px;
  }
  .btnMusic {
    @include button(simple, #477DCF);
    //padding: 5px 5px;
    font-size: 1em;
    height: 64px;
    width: 128px;
    margin-right: 10px;
    //margin-bottom: $base-line-height;
  }
}

.notPaid{
  background-color: #cec8c8;
  border: 6px black;
  border-radius: 50%;
  color: black;
  margin-left: 5px;
  padding: 5px;
  }

.dashboardPhoto{
  padding-top: 20px;
  img{
    height: 43px;
  }
}

//Modal Refill

.modal {
  margin-left: 25px;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: gray;
  $modal-image-height: 648px;
  //$modal-image-width: $modal-image-height;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    $img-width: 300px;
    border-radius: $img-width/2;
    display: block;
    max-width: $img-width;
  }

  input[type="checkbox"] {
    display: none;
  }

  .btn {
    @include button(simple, #477DCF);
    padding: 20px 9px;
    font-size: 1em;
    height: 64px;
    width: 64px;
    //margin-bottom: $base-line-height;
  }

  .btnMusic {
    @include button(simple, #477DCF);
    //padding: 5px 5px;
    font-size: 1em;
    height: 64px;
    width: 128px;
    margin-right: 10px;
    //margin-bottom: $base-line-height;
  }

  .modal {
    margin-left: 25px;
    $modal-padding: 3em;
    $modal-background: $base-background-color;
    $modal-close-color: gray;
    $modal-image-height: 648px;
    //$modal-image-width: $modal-image-height;
  }
  .modal-open {
    overflow: hidden;
  }

  .modal-window { // overlay
    @include transition(opacity .25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, .85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) 0 0);
    @include size(1.5em);
    cursor: pointer;
    background: $modal-background;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity .25s ease);
    border-radius: $base-border-radius;
    background: $modal-background;
    margin: auto;
    max-height: 95%;
    position: relative;
    overflow: auto;
    width: 95%;
    padding: $modal-padding /2;
    margin-top: .6em;

    @include media($medium-screen) {
      padding: $modal-padding;
      width: 60%;
      max-height: 60%;
      margin-top: 10em;
    }

    @include media($large-screen) {
      width: 50%;
      margin-top: 10em;
    }

    h1 {
      color: $base-font-color;
      margin-bottom: .6em;
      text-align: left;
      text-transform: capitalize;
    }

    p {
      font-size: $base-font-size;
      max-width: 100% !important;
      padding: 0;
      text-align: left;

      &.intro {
        color: $blue;
        line-height: 1.6em;
      }

      &.body {
        color: $base-font-color;
        line-height: 1.45em;

        @include media($medium-screen) {
          @include columns(2 8em);
        }
      }
    }

    a.cta {
      color: white;
      display: inline-block;
      margin-right: .5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner {
    top: 0;
  }
}
