// Place all the styles related to the Submission controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  // width: 965px;
}

li{
  float:left;
  padding-right: 10px;
  }

.formView{
  float:left;
}

#new_submission{
max-width:150px;
}

#newBand{
  width:600px;
}

.editBand{
  width:300px;
  background-color: #000000;
}

.form-inputs{
  // @include span-columns(6);
  // @include shift(6);
  // margin: auto;
  // text-align:center;
  // width: 250px;
}

.form-actions{
  // text-align:center;
}
