// Place all the styles related to the Submission controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin fieldset{
  background: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 .75em;
  padding: 1.5em;
  }

a{
  color: #477dca;
}

.topSpacing{
  padding-top: 100px;
}

.container{
  @include outer-container;
}

.title{
  text-align: center;
  padding-bottom: 15px;
  }

.formView{
  float: left;
}

#new_submission{
  max-width: 600px;

}

#newBand{
  width: 600px;
}

.editBand{

}

.showBand{
  @include fieldset;
  @include span-columns(8);
  @include shift (2);
}

.form-inputs{
  margin: auto;
  text-align: center;
  width: 250px;
}

.form-actions{
  text-align: center;
}
.embedContainer {
  @include span-columns(4);
  @include omega(2n);
  //display: block;
  position: relative;
  overflow: hidden;
  max-width: 50%;
  height: auto;
  padding-right: 10px;
  }

.embed-container iframe, .embed-container object, .embed-container embed {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

.music{
  @include span-columns(4);
  @include omega(2n);
  height: 166px;
  max-width: 50%;
}

.reccomendation{
  @include span-columns(8);
  @include fieldset;
  max-width: 45%;
}

.adminTools{
  clear:both;
/*  @include span-columns(6);
  @include shift(6);
  margin: auto;
  text-align:center;
  width: 250px;*/
}

.whiteButton{
      display: block;
      margin: 10 auto;
      background-color: #FFFFFF;
      border: 1px solid #000000;
      color: #000000;
      font-size: .75em;
      padding: 5px;
      width: 80%;
    &:hover{
        background-color: $blueGreen;
        color: #FFFFFF;
        }
      }

table {
  table-layout: auto;
}

th{
  text-align: start;
}

td{
  margin: 0 10px;
  padding: 0;
  display: block;

  .participant{
    @include span-columns(2);
    margin: 0 10px;
    }

  &.decision {
/*    @include span-columns(1);
*/    button{
      display: block;
      margin: 10 auto;
      background-color: #FFFFFF;
      border: 1px solid #000000;
      color: #000000;
      font-size: .75em;
      padding: 5px;
      width: 80%;

      &.accept{
        &:hover{
          background-color: $green;
          color: #FFFFFF;
        }
      }

      &.decline{
        &:hover{
          background-color: $red;
          color: #FFFFFF;
        }
      }
      }
    }

  .name{
    margin: 0 10px;
    width: 90%
    }

  .ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;  // IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+
      -o-text-overflow: ellipsis;  // for Opera 9 & 10
  }

    .paid{
      height: 10px;
      button {
        background-color: $green;
        font-size:.75em;
        color: #FFFFFF;
        height: 20px;
        margin: 12px 10px 0;
        padding: 5px;
        width: 90%;
      }
    }

    .modalContainer{
      height: 60%
      img{
        height: 70%;
      }
    }

    .picTable{
/*      @include span-columns(2);
*/      padding: 0;
    }
    .videoTable{
/*      @include span-columns(2);
*/    }

    &.tracks {
/*      @include span-columns(2);
*/      text-align: center;
      font-size: .75em;
      embed{
        width: 132px;
        display: block;
        margin: 2px 20px;

      }
    }

    .tags{
/*      @include span-columns(1);
*/      padding-left: 25px;
    }

    .info{
/*      @include span-columns(2);
*/      width: 100px;
      margin: 2px 20px;
    }

    .social{
      margin-left: 10px;
      text-align: center;
    }

    .contact{
      text-align: center;
    }

    .createdOn{
      text-align: center;
    }

    .clearFloat{
      clear:both;
    }
}

//Modal Refill

.modal {
  margin-left: 25px;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: gray;
  //$modal-image-height: 648px;
  //$modal-image-width: $modal-image-height: 600px;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  input[type="checkbox"] {
    display: none;
  }

  .btn {
    @include button(simple, #477DCF);
    padding: 20px 9px;
    font-size: 1em;
    height: 64px;
    width: 64px;
  }

  .thumbPic {
    margin: 0 auto;
  }

  .thumbVideo {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .modal {
    $modal-padding: 3em;
    $modal-background: $base-background-color;
    $modal-close-color: gray;
    $modal-image-height: auto;
    //$modal-image-width: $modal-image-height;
  }

  .modal-open {
    overflow: hidden;
  }

  .modal-window { // overlay
    @include transition(opacity .25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, .85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) 0 0);
    @include size(1.5em);
    cursor: pointer;
    background: $modal-background;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity .25s ease);
    border-radius: $base-border-radius;
    background: $modal-background;
    margin: auto;
    height: auto;
    position: relative;
    overflow: auto;
    width: 95%;
    padding: $modal-padding /2;
    margin-top: .6em;

    @include media($medium-screen) {
      padding: $modal-padding;
      width: 60%;
      max-height: 60%;
      margin-top: 6em;
    }

    @include media($large-screen) {
      width: 50%;
      margin-top: 10em;
    }

    h1 {
      color: $base-font-color;
      margin-bottom: .6em;
      text-align: left;
      text-transform: capitalize;
    }

    p {
      font-size: $base-font-size;
      max-width: 100% !important;
      padding: 0;
      text-align: left;

      &.intro {
        color: $blue;
        line-height: 1.6em;
      }

      &.body {
        color: $base-font-color;
        line-height: 1.45em;

/*         @include media(\$medium-screen) {
  @include columns(2 8em);
} */
      }
    }

    a.cta {
      color: white;
      display: inline-block;
      margin-right: .5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner {
    top: 0;
  }
}
